/venv
src/__pycache__
src/core/__pycache__
src/ui/__pycache__
src/utils/__pycache__
build
dist
__pycache__
/frontend/*
!/frontend/package.json
!/frontend/package-lock.json
!/frontend/CHANGELOG.md
!/frontend/latest_version.txt